canvas {
  background: #eee;
  display: block;
  margin: auto;
  border: 2px solid black;
}

body {
  text-align: center;
  user-select: none;
}

button {
  height: 50px;
  width: 150px;
  background-color: yellow;
  opacity: 1;
  border: 2px solid black;
  margin: auto;
  user-select: none;
  margin: 10px;
}
